<div class="container topnav">
    <nav class="navbar navbar-light bg-light">
        <a href="javascript:void(0)" (click)="isload()" class="navbar-brand"> FTS Document Management</a>
        <ul class="navbar-nav">
            @if(DevMode){
            <li class="nav-item">
                <a href="https://github.com/MegharanBasith/Document4xArco" target="_blank"
                class="nav-link" data-widget="control-sidebar" data-slide="true">
                    <i class="fa-regular fa-pen-to-square"></i>
                </a>
            </li>
            }
            <li class="nav-item">
                <a (click)="openRightMenu()" class="nav-link" data-widget="control-sidebar" data-slide="true"
                    href="javascript:void(0)" role="button">
                    <img src="{{Image}}" alt="" class="user-avatar">
                </a>
            </li>
        </ul>
    </nav>
    @if (openPanel) {
    <div class="sidebarRight w3-bar-block w3-border-right">
        <div class="left">
            <span>{{Name}}</span>
        </div>
        <div class="right">
            <a href="javascript:void(0)" class="dropdown-item" (click)="signOut()">
                <i class="fa fa-power-off mr-2 themecolor"></i> Sign out </a>
        </div>
        <!-- <span>Signed in as {{Name}}</span>
            <button class="dropdown-item" (click)="signOut()">
                <i class="fa fa-power-off mr-2"></i> Sign out </button> -->
    </div>
    }
</div>

<div class="wrapper">
    <nav id="sidebar" class="sidebar">
        <div (click)="toggleMenu()">

        </div>
        <ul class="menu list-unstyled">
            <a href="javascript:void(0)" (click)="isload()"><i style="padding-right: 8px;padding-bottom: 10px;"
                    class="fa fa-home"></i>Home
            </a>
            <li *ngFor="let item of menus; let i = index" class="mb-2">
                <a href="javascript:void(0)" (click)="toggleSubMenu(i)">
                    <i style="padding-right: 8px;" class="{{item.icon}}"></i> {{ item.title }}
                    <i style="padding-left: 5px;" *ngIf="item.children && item.children.length > 0"
                        class="fa fa-chevron-down"></i>
                </a>
                <ul id="menu{{ i }}" [ngClass]="{'collapse': !isSubMenuOpen[i]}" class="list-unstyled ms-3 mt-2"
                    *ngIf="item.children && item.children.length > 0">
                    <li *ngFor="let child of item.children" class="mb-1">
                        <a (click)="openMdFile(child.url)">
                            {{ child.title }}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="content">
        <ng-container *ngIf="homePageLoad">
            <dashboard [childMenu]="childMenu" (openMdFile)="homePage()"></dashboard>
        </ng-container>
        <ng-container *ngIf="!homePageLoad">
            <mark-down-load></mark-down-load>
        </ng-container>
        <!-- @if (homePageLoad) {
        <dashboard [childMenu]="childMenu" (openMdFile)="homePage()"></dashboard>
        }
        @else {
        <mark-down-load></mark-down-load>
        } -->
    </div>
</div>